<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>回忆</title>
<meta name="Keywords" content="博客模板,情侣博客模板" >
<meta name="Description" content="情侣博客模板" >
<link href="/public/index/css/index.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>

<header>
  <div class="quotes">
    <p>初遇时，她的微笑，她往日的深情、承诺和傻劲，两个人共度的美丽时刻，一一印在回忆里，今天的感情已经比不上从前，但是我爱着恋着往日的她，舍不得离开。</p>
    <div class="text5">记录·回忆</div>
	{if !empty($red)}
  {foreach $red as $key =>$val}
    <div class="flower"><img src="{$val['photo']}" style='height:115px;width：136px;'></div>
  {/foreach}
	{/if}
  </div>
  <!--nav begin-->
  <div id="nav">
    <ul>
      <li><a href="/">首页</a></li>
      <li><a href="/index.php?m=about&a=about">关于我</a></li>
      <li><a href="/index.php?m=moodlist&a=moodlist">碎言碎语</a></li>
      <li><a href="/index.php?m=life&a=life">慢生活</a></li>
      <li><a href="/index.php?m=detail&a=detail">永无止境</a></li>
      <li><a href="/index.php?m=ly&a=ly">留言板</a></li>
    </ul>
	{if empty($_SESSION['username'])}
	<div  id ='reg'><a href="index.php?m=user&a=login">登录</a>&nbsp;|&nbsp;<a href="index.php?m=user&a=regist">注册</a> </div>
	{else}
	{if 1== $_SESSION['type']}
	<div  id ='reg'><a href="/">{$_SESSION['username']}</a>&nbsp;|&nbsp;<a href="/index.php?m=life&a=life">发表博文</a>&nbsp;|&nbsp;
		<a href="/index.php?m=Admin&a=log">管理中心</a>&nbsp;|&nbsp;<a href="index.php?m=user&a=logout">退出</a></div>
	{else}
	<div  id ='reg'><a href="/">{$_SESSION['username']}</a>&nbsp;|&nbsp;<a href="/index.php?m=life&a=life">发表博文</a>&nbsp;|&nbsp;
		<a href="index.php?m=user&a=logout">退出</a></div>
	{/if}
	{/if}
  </div>
  <!--nav end--> 
</header>
<div class="photowall">
  <ul class="wall_a">
    <li><a href="/"><img src="/public/index/images/p01.jpg">
      <figcaption>
        <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
      </figcaption>
      </a></li>
    <li><a href="/"><img src="/public/index/images/p02.jpg">
      <figcaption>
        <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
      </figcaption>
      </a></li>
    <li><a href="/"><img src="/public/index/images/p03.jpg">
      <figcaption>
        <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
      </figcaption>
      </a></li>
    <li>
      <p class="text_a"><a href="/">一个人最好的模样大概是平静一点，坦然接受自己所有的弱点，不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏......</a></p>
    </li>
    <li><a href="/"><img src="/public/index/images/p04.jpg">
      <figcaption>
        <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
      </figcaption>
      </a></li>
    <li>
      <p class="text_b"><a href="/">逃避自己的人，最终只能导致自己世界的崩塌，而变得越来越没有安全感。</a></p>
    </li>
    <li><a href="/"><img src="/public/index/images/p05.jpg">
      <figcaption>
        <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
      </figcaption>
      </a></li>
    <li><a href="/"><img src="/public/index/images/p06.jpg">
      <figcaption>
        <h2>不再因为别人过得好而焦虑，在没有人看得到你的时候依旧能保持节奏 </h2>
      </figcaption>
      </a></li>
  </ul>
</div>
<div class="about">
  <ul>
    <div id="fountainG">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </div>
    <div class="about_girl"><span><a href="/"><img src="/public/index/images/girl.jpg"></a></span>
      <p>初遇时，他的幽默，他往日的深情、承诺和傻劲儿，两个人共度的美丽时刻，一一印在我的回忆里....</p>
    </div>
    <div class="about_boy"><span><a href="/"><img src="/public/index/images/boy.jpg"></a></span>
      <p>初遇时，她的热情，她腼腆的微笑、可爱和气质，两个人共度的愉快时刻，一一印在我的回忆里...</p>
    </div>
  </ul>
</div>
<div class="blank"></div>
<div class="blog">
  <figure> <a href="/"><img src="/public/index/images/t01.jpg"></a>
    <p><a href="/">愿有人陪你一起颠沛流离</a></p>
    <figcaption>有一天晚上我收到朋友的邮件，他问我怎样可以最快地摆脱寂寞，我想了想不知道应该怎么回答他，因为我从来没有摆脱过这个问题，我只能去习惯它，就像习惯身体的一部分。</figcaption>
  </figure>
  <figure> <a href="/"><img src="/public/index/images/t02.jpg"></a>
    <p><a href="/">你要去相信，没有到不了的明天</a></p>
    <figcaption>不管你现在是一个人走在异乡的街道上始终没有找到一丝归属感，还是你在跟朋友们一起吃饭开心地笑着的时候闪过一丝落寞。</figcaption>
  </figure>
  <figure> <a href="/"><img src="/public/index/images/t03.jpg"></a>
    <p><a href="/">美丽的茧</a></p>
    <figcaption>让世界拥有它的脚步，让我保有我的茧。当溃烂已极的心灵再不想做一丝一毫的思索时，就让我静静回到我的茧内，以回忆为睡榻，以悲哀为覆被，这是我唯一的美丽。</figcaption>
  </figure>
</div>
<div class="blank"></div>
<div class="text6">相守·祝福</div>
<div class="hope">
  <ul>
    <div class="visitors">
      <dl>
        <dt><img src="/public/index/images/s6.jpg"> </dt>
        <dd><a href="/">DanceSmile</a> </dd>
        <dd>你们本就是天生一对，地造一双，而今共偕连理，今后更需彼此宽容、互相照顾，祝福你们！</dd>
      </dl>
      <dl>
        <dt><img src="/public/index/images/s7.jpg"> </dt>
        <dd><a href="/">骄傲的小甜甜</a> </dd>
        <dd>十年修得同船渡，百年修得共枕眠。于茫茫人海中找到她，分明是千年前的一段缘，祝你俩幸福美满，共谐连理。</dd>
      </dl>
      <dl>
        <dt><img src="/public/index/images/s8.jpg"> </dt>
        <dd><a href="/">执子之手</a> </dd>
        <dd>托清风捎去衷心的祝福，让流云奉上真挚的情意；今夕何夕，空气里都充满了醉人的甜蜜。谨祝我最亲爱的朋友，从今后，爱河永浴！</dd>
      </dl>
    </div>
  </ul>
</div>
<footer>
  <p>Design by <a href="http://www.htmlsucai.com" target="_blank">HTML素材网</a></p>
</footer>
</body>
</html>
