<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会员管理-有点</title>
<link rel="stylesheet" type="text/css" href="/public/admin/css/css.css" />
<link rel="stylesheet" type="text/css" href="/public/admin/css/manhuaDate.1.0.css">
 <link href="/public/index/css/common.css?v7.2" type="text/css" rel="stylesheet" /> 
  <link href="/public/index/css/public.css?v1" type="text/css" rel="stylesheet" /> 
	<script type="text/javascript" src="/public/admin/js/jquery.min.js"></script>
	<script type="text/javascript" src="/public/admin/js/manhuaDate.1.0.js"></script>
	<script type="text/javascript" src="/public/admin/js/jquery-1.7.2.min.js"></script>
	<!-- <script type="text/javascript" src="js/page.js" ></script> -->
	<script type="text/javascript">
$(function (){
  $("input.mh_date").manhuaDate({
    Event : "click",//可选               
    Left : 0,//弹出时间停靠的左边位置
    Top : -16,//弹出时间停靠的顶部边位置
    fuhao : "-",//日期连接符默认为-
    isTime : false,//是否开启时间值默认为false
    beginY : 1949,//年份的开始默认为1949
    endY :2100//年份的结束默认为2049
  });
});
</script>
</head>

<body>
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="/public/admin/img/coin02.png" /><span><a href="#">首页</a>&nbsp;-&nbsp;<a
					href="#">公共管理</a>&nbsp;-</span>&nbsp;意见管理
			</div>
		</div>

		<div class="page">
			<!-- vip页面样式 -->
			<div class="vip">
				
				<!-- vip 表格 显示 -->
				<div class="conShow">
					<table border="1" cellspacing="0" cellpadding="0">
						<tr>
							<td width="66px" class="tdColor tdC">ID</td>
							<td width="250px" class="tdColor">头像</td>
							<td width="188px" class="tdColor">用户名</td>
							<td width="235px" class="tdColor">手机号码</td>
							<td width="282px" class="tdColor">注册时间</td>
							<td width="130px" class="tdColor">操作</td>
						</tr>
						{if !empty($user)}
						{foreach $user as $key =>$value}
						<tr>
							<td>{$value['uid']}</td>
							<td><div class="onsImg onsImgv">
									<img src="{$value['photo']}">
								</div></td>
							<td>{$value['username']}</td>
							<td>{$value['phone']}</td>
							
							<td>{$time = date('Y-m-d H:i',$value['ctime'])}</td>
							<td><a href="/index.php?m=Admin&a=deluser&uid={$value['uid']}"> <img 
								src="/public/admin/img/delete.png"></a></td>
						</tr>
						{/foreach}
						{/if}
					</table>
					<!-- <div class="paging">此处是分页</div> -->
							</script> 
      <div class="pb-mt50 pb-listpage"> 
       <table>
        <tbody>
         <tr>
          <td><a href="{$url['first']}" class="yiiPagerA">首页</a></td> 
          <td><a href="{$url['prev']}" class="yiiPagerA on">上一页</a></td> 
          <td><a href="{$url['next']}" class="yiiPagerA">下一页</a></td> 
          <td><a href="{$url['last']}" class="yiiPagerA">末页</a></td>
         </tr>
        </tbody>
       </table> 
      </div> 
				</div>
				<!-- vip 表格 显示 end-->
			</div>
			<!-- vip页面样式end -->
		</div>

	</div>


	<!-- 删除弹出框 -->
	<div class="banDel">
		<div class="delete">
			<div class="close">
				<a><img src="img/shanchu.png" /></a>
			</div>
			<p class="delP1">你确定要删除此条记录吗？</p>
			<p class="delP2">
				<a href="#" class="ok yes">确定</a><a class="ok no">取消</a>
			</p>
		</div>
	</div>
	<!-- 删除弹出框  end-->
</body>

<script type="text/javascript">
// 广告弹出框
$(".delban").click(function(){
  $(".banDel").show();
});
$(".close").click(function(){
  $(".banDel").hide();
});
$(".no").click(function(){
  $(".banDel").hide();
});
// 广告弹出框 end
</script>
</html>